<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.WeatherDao">

	<select id="get" resultType="com.bootdo.system.domain.WeatherDO">
		select `id`,`date`,`temperature`,`temperature1`,`local`,`devices`,`fire`,`fire1`,`dianya`,`shidu`,`speed`,`yeya`,`zhuansu`,`zhuansu1` from weather where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.WeatherDO">
		select `id`,`date`,`temperature`,`temperature1`,`local`,`devices`,`fire`,`fire1`,`dianya`,`shidu`,`speed`,`yeya`,`zhuansu`,`zhuansu1` from weather
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="date != null and date != ''"> and date = #{date} </if>
		  		  <if test="temperature != null and temperature != ''"> and temperature = #{temperature} </if>
		  		  <if test="temperature1 != null and temperature1 != ''"> and temperature1 = #{temperature1} </if>
		  		  <if test="local != null and local != ''"> and local = #{local} </if>
		  		  <if test="devices != null and devices != ''"> and devices = #{devices} </if>
		  		  <if test="fire != null and fire != ''"> and fire = #{fire} </if>
		  		  <if test="fire1 != null and fire1 != ''"> and fire1 = #{fire1} </if>
		  		  <if test="dianya != null and dianya != ''"> and dianya = #{dianya} </if>
		  		  <if test="shidu != null and shidu != ''"> and shidu = #{shidu} </if>
		  		  <if test="speed != null and speed != ''"> and speed = #{speed} </if>
		  		  <if test="yeya != null and yeya != ''"> and yeya = #{yeya} </if>
		  		  <if test="zhuansu != null and zhuansu != ''"> and zhuansu = #{zhuansu} </if>
		  		  <if test="zhuansu1 != null and zhuansu1 != ''"> and zhuansu1 = #{zhuansu1} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from weather
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="date != null and date != ''"> and date = #{date} </if>
		  		  <if test="temperature != null and temperature != ''"> and temperature = #{temperature} </if>
		  		  <if test="temperature1 != null and temperature1 != ''"> and temperature1 = #{temperature1} </if>
		  		  <if test="local != null and local != ''"> and local = #{local} </if>
		  		  <if test="devices != null and devices != ''"> and devices = #{devices} </if>
		  		  <if test="fire != null and fire != ''"> and fire = #{fire} </if>
		  		  <if test="fire1 != null and fire1 != ''"> and fire1 = #{fire1} </if>
		  		  <if test="dianya != null and dianya != ''"> and dianya = #{dianya} </if>
		  		  <if test="shidu != null and shidu != ''"> and shidu = #{shidu} </if>
		  		  <if test="speed != null and speed != ''"> and speed = #{speed} </if>
		  		  <if test="yeya != null and yeya != ''"> and yeya = #{yeya} </if>
		  		  <if test="zhuansu != null and zhuansu != ''"> and zhuansu = #{zhuansu} </if>
		  		  <if test="zhuansu1 != null and zhuansu1 != ''"> and zhuansu1 = #{zhuansu1} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.WeatherDO" useGeneratedKeys="true" keyProperty="id">
		insert into weather
		(
			`date`, 
			`temperature`, 
			`temperature1`, 
			`local`, 
			`devices`, 
			`fire`, 
			`fire1`, 
			`dianya`, 
			`shidu`, 
			`speed`, 
			`yeya`, 
			`zhuansu`, 
			`zhuansu1`
		)
		values
		(
			#{date}, 
			#{temperature}, 
			#{temperature1}, 
			#{local}, 
			#{devices}, 
			#{fire}, 
			#{fire1}, 
			#{dianya}, 
			#{shidu}, 
			#{speed}, 
			#{yeya}, 
			#{zhuansu}, 
			#{zhuansu1}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.WeatherDO">
		update weather 
		<set>
			<if test="date != null">`date` = #{date}, </if>
			<if test="temperature != null">`temperature` = #{temperature}, </if>
			<if test="temperature1 != null">`temperature1` = #{temperature1}, </if>
			<if test="local != null">`local` = #{local}, </if>
			<if test="devices != null">`devices` = #{devices}, </if>
			<if test="fire != null">`fire` = #{fire}, </if>
			<if test="fire1 != null">`fire1` = #{fire1}, </if>
			<if test="dianya != null">`dianya` = #{dianya}, </if>
			<if test="shidu != null">`shidu` = #{shidu}, </if>
			<if test="speed != null">`speed` = #{speed}, </if>
			<if test="yeya != null">`yeya` = #{yeya}, </if>
			<if test="zhuansu != null">`zhuansu` = #{zhuansu}, </if>
			<if test="zhuansu1 != null">`zhuansu1` = #{zhuansu1}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from weather where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from weather where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>